html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@font-face {                  
font-family: 'DepartureMono';
src: url(https://humantooth.neocities.org/fonts/DepartureMono.woff) format('woff');
font-weight: normal;
}


body, html {
	padding: 1;
	margin: 1;
	height: 100%;
	background-color: rgb(21, 21, 21);
	position: relative;
	font-size: 14px;
	font-family: 'DepartureMono'; 
  background-repeat: no-repeat;


}

body {
    background-repeat: no-repeat;
    min-height: 600px;
    min-width: 700px;
    font-family: 'DepartureMono';

}


.page {
	padding: 12px;
	background-color: white;
	min-height: 0;
	height: unset;
	padding-bottom: 36px;
}

.page h1:first-child {
	margin-top: 0;
}



:root {
  --width: 920px;
  --font-main: 'DepartureMono';
  --font-secondary: 'DepartureMono';
  --font-scale: 1em;
  --background-color: #fffcfa;
  --heading-color: #555;
  --text-color: #5b5656;
  --link-color: #db9292;
  --visited-color: #a386e3;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
  --em-color: #5b5656c4;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgb(255, 255, 255);
    --heading-color: #222222;
    --text-color: #111111;
    --link-color: #f4b690;
    --visited-color: #c1a6ff;
    --code-background-color: #000;
    --code-color: #003cff;
    --blockquote-color: #ccc;
    --em-color: #fbfafac7;
  }
}


iframe {
	border: 0px solid #000;
  align-self: center;
}

body {
  font-family:'DepartureMono';
  font-size: 14px;
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #2fea00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DepartureMono';
  color:hsl(from color h s l);
}

h1, h2, h3, h4 {
	font-size: 14px;
	text-transform: all;
	letter-spacing: 0.5px;
}

h1 {
  font-size: 20px;
	padding-left: 0px;
  color: #ffffff;
}

h2 {
	border-left: 2px solid #ff0097;
	padding-left: 4px;
	margin-top: 2rem;
}

h4 {
	color: rgb(255, 255, 255);
	font-weight: normal;
	margin-top: 0.5rem;
  margin-bottom: 2rem;

}

h5 {
  color: rgb(255, 255, 255);
	font-weight: normal;
  margin-bottom: 4rem;
  direction: ltr;
  margin-right: 2px;
}

h1#title {
  line-height: 1.6;
  border-bottom: dotted;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

text {
  color: rgb(255, 255, 255);
	font-weight: normal;
	text-align: center;
	margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 5px;
    font-family: 'DepartureMono'; 
}

a:hover {
  text-decoration: wavy underline;
}

strong,
b {
  color: var(--heading-color);
}

main {
  line-height: 1.6;
  border-bottom: dotted;
  padding-bottom: 1.2em;
}

em,
i {
  color: var(--em-color);
}

hr {
  border: 0;
  border-top: 1px dashed;
}

code {
  font-family: 'DepartureMono';
  padding: 2px;
  background-color: var(--code-background-color);
  color: #ffffff;
  border-radius: 3px;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: #2fea00;
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

.sr-only {
  display: none;
}


button {
    border-style: var(--background-color);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 3px;
    padding-top: 3px;
    position: relative;
} 



.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  align-items: center;
  font-family: 'DepartureMono';


} 

.container2 {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  align-items: center;
  background-image: url("img/crt2.png");

} 

.form {
	background-color: transparent;
	border: 0x solid #000;
	height: 260px;
	width: 400px;
	position: relative;
  align-self: center;
	overflow: auto;
}


#cf2 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  background-image: url("img/pleasev1.png");
}

#cf2::after{
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("img/pleasev2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#cf2::after {
animation-name: cf3FadeInOut;
animation-timing-function:fade in ;
animation-iteration-count: infinite;
animation-duration: 1s;
animation-direction: alternate;

}
textarea {
  background-color:#41264f;
  font-family: 'DepartureMono'; 
  font-size: 12px;
  color: rgb(255, 255, 255);
      border:#999;
    border-style: groove;


}

input {
    background-color: #41264f;
    border:#999;
    border-style: groove;
}


.tv {
  background-image: url(./img/crt.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 772px;
  width: 700px;
  padding-top: 206px;
  padding-left: 114px;
  margin-right: 1em;
  position: relative;
  align-self: center;
}

html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.754);
  font-family: 'Anonymous Pro', monospace;  

}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */

.typing-effect::after {
  content: "|"; /* The character representing the cursor */
  display: inline-block;
  animation: blink-caret 0.75s step-end infinite; /* Blinking animation */
  z-index: -1;
}

@keyframes blink-caret {
  from, to {
    opacity: 0; /* Cursor invisible */
  }
  50% {
    opacity: 1; /* Cursor visible */
  }
}

#ImSticky {
  position: fixed;
  bottom: 390px;
  right: 410x;
  max-height: 100px;
  max-width: 190px;


}
